[submodule "Soft_MBED/ext/CppRobLib"]
	path = Soft_MBED/ext/CppRobLib
	url = https://github.com/CRLG/CppRobLib.git
[submodule "Soft_MBED/ext/mbed-common-rob"]
	path = Soft_MBED/ext/mbed-common-rob
	url = https://github.com/CRLG/mbed-common-rob.git
[submodule "Soft_MBED/ext/mbed-os"]
	path = Soft_MBED/ext/mbed-os
	url = https://github.com/CRLG/mbed-os.git
